@font-face {
  font-family: "Amsterdam Handwriting";
  src: url("./Fonts/amsterdam_handwriting/Amsterdam.ttf") format("truetype");

  font-family: "ChickenCrispy";
  src: url("./Fonts/amsterdam_handwriting/Chicken Crispy.otf")
    format("truetype");

  font-family: "StoryNight";
  src: url("./Fonts/amsterdam_handwriting/Story Night.ttf") format("truetype");
  font-family: "Bicycle";
  src: url("./Fonts/amsterdam_handwriting/BicycleTrack.otf") format("truetype");
}

@media (max-width: 768px) {
  .heading {
    /* margin-bottom: 10px; */
    font-size: 30px;
    font-family: "Amsterdam Handwriting", cursive;
    text-align: center;
    color: rgba(20, 18, 18, 0.716);
    display: flex;
    text-align: center;
    align-items: center;
  }
  /**/
  .homebackground {
    /* background-size: 100% 100%;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 0%; */

    border: "4px solid #ebfa19e6";
    border-radius: 20px;
    padding: 10px;
  }
  .scroll-container {
    flex-direction: column;
    font-weight: lighter;
    font-family: "StoryNight", cursive;
    pointer-events: none;
  }
  .scroll-container h2 {
    font-family: "StoryNight", cursive;
  }
  .scroll-container img {
    width: 100%;
    height: auto;

    pointer-events: none;
  }
}

.weblogo {
  margin: 10px;
  text-align: start;
  /* padding-top: 6px; */
  /* margin-left: 10rem; */
  /* justify-content: space-between; */
}
.weblogo img {
  width: 60px;
  height: 70px;
  pointer-events: none;
}

.scroll-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 10px;
}

.scroll-container img {
  width: 100%;
  height: auto;
  border: 4px solid #fef1f1;

  margin-top: 8%;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
/* .scroll-container img {
  border: 4px solid #fef1f1;
  width: 80%;
  min-width: 80%;
  height: auto;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 8%;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
} */

.scroll-container h2 {
}
.MainPage {
  background-color: #fcf94d;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.heading {
  font-size: 30px;
  font-family: "Amsterdam Handwriting", cursive;
  color: rgba(12, 12, 12, 0.716);
  display: flex;
  align-items: center;
  text-align: center;
}
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.social-icons {
  display: flex;
  gap: 10px;
  /* position: absolute; */
  top: 5px;
  right: 0px;
  /* justify-content: flex-end; */
  padding: 10px;
}

.social-icon {
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s; /* Smooth transition for size change */
}
.social-icon:hover {
  font-size: 39px;
}
nav {
  padding: 10px;
  text-align: center;
  /* background-color: rgb(150, 110, 10); */
  /* background-color: rgba(150, 110, 10, 10); */
}
ul {
  list-style-type: none;
  padding: 10px;
}
li {
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 18px;
  color: whitesmoke;
  cursor: pointer;
}
li:hover {
  text-shadow: 0 0 3px #e5ff00;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Titillium Web", sans-serif; */
}

:root {
  --mainColor: rgb(150, 110, 10);
  --mainColorLight: rgb(243, 201, 95);
  --secondaryColor: #dbd52b65;
  --textColor: #eee;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}
header.sticky {
  height: 70px; /* Adjust this value as needed */
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.about-section {
  background-color: #d8d9afe0;
  padding: 50px 0;
  font-family: " Verdana, Geneva, Tahoma, sans-serif";
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

header h3 {
  font-size: 20px;
  font-weight: lighter;
  font-family: "ChickenCrispy", cursive;
}

/* .container.p {
  font-size: 10px;
} */
.row {
  display: flex;
}

.image-with-content {
  /* flex: 1; */
  /* Image and content take up equal space */
  display: flex;
  align-items: center;
}

.image-with-content img {
  border-radius: 0rem;
  border: 4px solid #e7e7e7; /* Add border around the image */
  max-width: 60%; /* Ensure image doesn't overflow container */
  /* margin: 1rem; */
}
@media (min-width: 769px) {
  .image-with-content img {
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
  }
  .image-with-content {
    padding-left: 12rem;
    padding-top: 15px;
  }
}
.content {
  flex: 1;
  /* Image and content take up equal space */
  padding: 0px 10px;
  /* Adjust padding between content and image */
  margin-right: auto; /* Move content to the left */
  font-size: 50px;
  font-weight: bolder;
}
.quote {
  font-family: "StoryNight", cursive;
  font-size: 25px;
}
.titlee {
  color: rgb(141, 85, 39);
  font-size: 20px;
  font-weight: bold;
  /* font-family: "Titillium Web", sans-serif; */
}
.imgcontainer p {
  /*our services */
  font-size: 20px;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(116, 69, 31);
  text-align: center;
  pointer-events: none;
}

@media (max-width: 768px) {
  .imgcontainer {
    flex-direction: column;
    width: 100%;
    /* pointer-events: none; */ /*affects the image slider swipe*/
  }
  .imgcontainer p {
    /*portfolio */
    font-size: 20px;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(116, 69, 31);
    font-family: "ChickenCrispy", cursive;
    pointer-events: none;
    text-align: center;
  }
  .row {
    flex-direction: column;
  }

  .image-with-content,
  .content {
    width: 100%; /* Full width on mobile */
    pointer-events: none;
    padding-left: 10px;
    padding-top: 9px;
  }

  .content {
    padding: 20px 0;
    /* Adjust padding on mobile */
    font-size: 50px;
    font-weight: lighter;
  }

  .quote {
    font-size: 25px;
    font-family: "StoryNight", cursive;
    margin-left: 1rem;
  }
  .titlee {
    color: rgb(141, 85, 39);
    font-size: 20px;
    font-weight: bold;
    /* font-family: "Titillium Web", sans-serif; */
  }
}
.contactdetails {
  background-color: rgba(219, 172, 110, 0.981);
  color: #eee;
}

.image-slider h1,
.image-slider p {
  color: brown;
  font-family: "ChickenCrispy", cursive;
}

.image-slider h1 {
  /*our works */

  color: rgb(33, 30, 30);

  font-size: 24px;
  font-weight: lighter;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 0.7rem; /* Add margin bottom to create space between h1 and p */
}
