.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.image-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.image-container img {
  width: 100%;
  display: none;
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.image-container img.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
