.carousel-container {
  border: 2px solid #ccc; /* Border style */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
  overflow: hidden; /* Ensure that the border is visible */
}

/* Define the default size of carousel images */
.carousel img {
  width: 100%; /* Make images responsive */
}

/* Apply different styles for laptop screens */
@media only screen and (min-width: 1024px) {
  .carousel img {
    /* Adjust the size of images for laptop screens */
    max-width: 600px; /* Set the maximum width */
    height: auto; /* Maintain aspect ratio */
  }
}
