.image-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  display: block;
}

.slide img {
  width: 90%;
  height: auto;
  border: 0.5rem solid rgb(237, 237, 231);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
}

.image-slider h1,
.image-slider p {
  color: brown;
  font-family: "ChickenCrispy", cursive;
}

.image-slider h1 {
  /*our works */
  font-size: 24px;
  font-weight: lighter;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 0.7rem; /* Add margin bottom to create space between h1 and p */
}
